 :root {
            --color-background: rgb(255, 240, 245);
            --color-table-header: rgb(255, 182, 193);
            --color-row-even: rgb(255, 228, 232);
            --color-hover: rgb(255, 210, 220);
            --color-text: rgb(0, 0, 0);
            --color-button: rgb(255, 133, 162);
            --color-button-hover: rgb(255, 105, 180);
            --font-family: Arial;
        }

        body {
            font-family: var(--font-family);
            background-color: var(--color-background);
            color: var(--color-text);
            text-align: center;
            margin: 20px;
        }


     /*   table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 60%;
        }
*/
        a {
            display: inline-block;
            margin-top: 15px;
            padding: 8px 15px;
            background-color: var(--color-button);
            color: white;
            border-radius: 4px;
            text-decoration: none
        }

        a:hover {
            background-color: var(--color-button-hover);
        }

        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 60%;
        }

        th {
            background-color: var(--color-table-header);
            padding: 10px;
        }

        td {
            padding: 8px;
            font-weight: bold
        }

        tr:hover {
            background-color: var(--color-hover);
        }

        .user-link {
            color: var(--color-text);
            text-decoration: none;
            font-weight: bold;
            display: block;
            padding: 5px;
            background-color: var(--color-hover);
        }

        .user-link:hover {
            color: var(--color-button-hover);
            text-decoration: underline;
            background: none;
        }



